.body
{
	background: linear-gradient(150deg, rgb(9, 5, 110) 0%, rgb(46, 43, 43) 100%);
	background-size: 1400px 600px;
	background-repeat: no-repeat;
}

.sign-up-form3{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 5px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(83, 126, 190);
	background-color: rgb(255, 255, 255);
}

.sign-up-form3-edit { 
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.sign-up-form3-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.typography{
    padding: 10px;
    text-align: center;
    

}

#bio
{
	width:225px;
}