.sign-up-form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #ccc;
}

.typography{
    padding: 10px;
    text-align: center;
}