body
{
	background-color:#A769B6;
}

img
{
	height:150;
	border-radius:5%;
}

a
{
	height:20x;
	flex-basis:10%;
	font-size:20px;
	text-decoration:none;
	color:white;
	position:relative;
	bottom:5px;
}

ul
{
	list-style-type: none;
}


.mainFrame
{
	padding-top:10px;
	padding-bottom:10px;
	height:80%;
	background-color:#C49DCD;
	display: flex;
	justify-content: center;
	border-radius:10px;
}

.upperBar
{
	height:40px;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}

.picContainer
{
	width:800px;
	background-color:#C49DCD;
	display:flex;
	justify-content: space-between;
	align-items:flex-end;
	position:relative;
	bottom:10px;
}

.logged
{
	
}