body
{
	background-color:#A769B6;
	display:flex;
	justify-content:center;
}

p1
{
	color:#A769B6;
	font-size:35px;
	width:170px;
}

li
{
	list-style-type:none;
	font-size:15px;
	position:relative;
	right:5px;
}

ul
{
	margin-right:30px;
	padding-left:70px;
}

img
{
	width:100px;
	height:100px;
	position:relative;
	left:35px;
}

input
{
	width:170px;
}

input[type='checkbox']
{
	width:10px;
}

::-webkit-scrollbar {
	width:10px;
}

::-webkit-scrollbar-track {
	background: #e6e3e5; 
}
 
::-webkit-scrollbar-thumb {
	background: #A769B6; 
}

::-webkit-scrollbar-thumb:hover {
	background: #f2bff0; 
}

.btn
{
	background-color:#A769B6;
	border:solid 3px #A769B6;
	border-radius: 25px;
	width:120px;
	position:relative;
	left:20px;
}

.mainFrame
{
	width:100%;
	height:80%;
	background-color:#C49DCD;
	display: flex;
	justify-content: center;
	position:relative;
	top:40px;
	align-items: center;
	border-radius:25px;

}

.form
{
	background-color:white;
	height:80%;
	width:300px;
	display:flex;
	align-items:center;
	flex-wrap:nowrap;
	justify-content: center;
	border-radius: 6px;
}

.errors
{
	position:relative;
	right:20px;
	width:170px;
}

.scrollable
{
	height:470px;
	overflow:auto;
}

#image
{
	position:relative;
	right:15px;
	width:200px;
}