<!DOCTYPE>
<html>
	<head>
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
	</head>

<body>

	<div class="mainFrame">
		<div class="form">
		
			<form method="post">
				<br><br>
				<ul>
					<p1>Register</p1>
						
					<li><label for="email">Email:</label><br>
					<input type="email" id="email" name="email"></li><br>
					
					<li><label for="username">Username:</label><br>
					<input type="text" id="username" name="username"></li><br>
					
					<li><label for="password">Password:</label><br>
					<input type="password" id="password" name="password"></li><br>
						
					<br>
					<input type="submit" value="Register" class="btn">
					
				</ul>
			</form>
			
		</div>
	</div>

</body>
</html> 