<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>

<body>

    <h1>Register</h1>

    <form method="post">
        <label for="email">email:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="username">username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Register">
    </form>

</body>
</html> 